<article *ngIf="f">
  <form novalidate [formGroup]="f" (submit)="submit()">
    <fieldset class="form">
      <legend>{{ "legend" | translate }}</legend>
      <!-- name -->
      <mat-form-field class="field" appearance="outline" color="accent">
        <mat-label attr.aria-label="{{ 'form.name' | translate }}">
          {{ "form.name" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <!-- email -->
      <mat-form-field class="field" appearance="outline" color="accent">
        <mat-label attr.aria-label="{{ 'form.email' | translate }}">
          {{ "form.email" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-error class="error" *ngIf="form.email.hasError('email')">
          {{ "validation.bad.email" | translate }}
        </mat-error>
      </mat-form-field>
      <!-- postal code -->
      <mat-form-field class="field" appearance="outline" color="accent">
        <mat-label attr.aria-label="{{ 'form.postal.code' | translate }}">
          {{ "form.postal.code" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="postalCode" />
        <mat-error class="error" *ngIf="form.postalCode.hasError('pattern')">
          {{ "validation.bad.postal" | translate }}
        </mat-error>
      </mat-form-field>
      <button type="submit" class="submit" [disabled]="!f.valid">
        {{ "form.btn.submit" | translate }}
      </button>
    </fieldset>
  </form>
  <section class="fake-submission" *ngIf="submitted">
    <p>
      {{ "fake.response" | translate }}
    </p>
    <p>
      {{ user | json }}
    </p>
  </section>
</article>
